{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>Home ({{ cash }}) ({{ total }})</h2>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Amount</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                    <tr>
                        <td>{{ purchase.symbol }}</td>
                        <td>{{ purchase.amount }}</td>
                        <td>{{ purchase.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
